
h1.rob{
color:#ff0000;
font-size:xx-large;
}

#CSS3button {
border: 0px solid #666;
padding: 10px 3px;
text-align: center;
width: 160px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
background: #f3f3f3;
background: -webkit-gradient(radial, 0 0, 0 bottom, from(#e5e5e5), to(#e7e8e3));
background: -webkit-radial-gradient(#e5e5e5, #e7e8e3);
background: -moz-radial-gradient(#e5e5e5, #e7e8e3);
background: -ms-radial-gradient(#e5e5e5, #e7e8e3);
background: -o-radial-gradient(#e5e5e5, #e7e8e3);
background: radial-gradient(#e5e5e5, #e7e8e3);
-pie-background: radial-gradient(#e5e5e5, #e7e8e3);
behavior: url(pie/PIE.htc);
}

span.basketButton1 a {
font-size: 14px;
padding: 8px 50px;


}
span.basketButton2 a {
font-size: 14px;
padding: 2px 5px;


}
span.mouseoff2 a {
font-family: Arial, Helvetica, sans-serif;

color: #99b024;
text-decoration: none;
font-weight:bold;
border: 1px solid #99b024;

text-align: center;

-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
background: #FF0000;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f3f3f3), to(#b6b6b8));
background: -webkit-linear-gradient(#f3f3f3, #b6b6b8);
background: -moz-linear-gradient(#f3f3f3, #b6b6b8);
background: -ms-linear-gradient(#f3f3f3, #b6b6b8);
background: -o-linear-gradient(#f3f3f3, #b6b6b8);
background: linear-gradient(#f3f3f3, #b6b6b8);
text-shadow: 0px 0px 0px rgba(000,000,000,1),
	     0px 1px 0px rgba(255,255,255,0.4);
-pie-background: linear-gradient(#f3f3f3, #b6b6b8);
behavior: url(pie/PIE.htc);
}


span.mouseoff2 a:hover {
font-family: Arial, Helvetica, sans-serif;
color: #FFFFFF;
text-decoration: none;
font-weight:bold;
border: 1px solid #99b024;
text-align: center;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
background: #FF0000;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#b4cb3c), to(#596617));
background: -webkit-linear-gradient(#b4cb3c, #596617);
background: -moz-linear-gradient(#b4cb3c, #596617);
background: -ms-linear-gradient(#b4cb3c, #596617);
background: -o-linear-gradient(#b4cb3c, #596617);
background: linear-gradient(#b4cb3c, #596617);
text-shadow: -1px 0px 0px rgba(000,000,000,1),
	     0px 1px 0px rgba(255,255,255,0.4);
-pie-background: linear-gradient(#b4cb3c, #596617);
behavior: url(pie/PIE.htc);
}

